[submodule "/Users/cmccartan/.vim/pack/dist/start/tmuxline.vim"]
	path = /Users/cmccartan/.vim/pack/dist/start/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "/Users/cmccartan/.vim/pack/dist/start/vim-airline"]
	path = /Users/cmccartan/.vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "/Users/cmccartan/.vim/pack/colors/opt/everforest"]
	path = /Users/cmccartan/.vim/pack/colors/opt/everforest
	url = https://github.com/sainnhe/everforest
[submodule ".vim/pack/dist/start/LanguageClient-neovim"]
	path = .vim/pack/dist/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "/Users/cmccartan/.vim/pack/dist/start/vim-slime"]
	path = /Users/cmccartan/.vim/pack/dist/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
